Library                         Purpose                                                          

pandas       For loading, cleaning, and analyzing structured data                 
numpy        Performs numerical operations and array manipulation                 
matplotlib   Used for creating basic visualizations like bar and line plots       
seaborn      Creates advanced and attractive statistical visualizations           
jupyter      Provides an interactive notebook environment for running Python code 

